<!DOCTYPE html>

<html ng-app="app">
    <head>
        <title>Ma todolist</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="http://localhost:8000/angular/research.js"></script>


    </head>

    <body ng-controller="form">
        <h1>Choix carte</h1>
        <nav> <div ng-if="$scope.sessionStorage.todolist" >new deck</div></nav>
        <form >
            <input type="text" name="input" ng-model="titre"
                   ng-pattern="example.word" required ng-trim="false">
            <button type="submit" class="btn btn-primary" ng-click="valueInput()">Submit</button>
        </form>
        <div>
            <table class="cards">
                <tr>
                    <th>Nom carte</th>
                </tr>
                <tr ng-repeat="card in cards track by $index">
                    <td>{{card.name}}</td>
                </tr>
            </table>
        </div>
        
        
         <form action="/todo/ajouter/" method="post">
            <p>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
        
    </body>
</html>