<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  ng-app="app">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="appController">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="./../../angular/research.js"></script>
        <script src="./../../angular/sessionNewDeck.js"></script>

        <div class="content-tempalte-pdf"  data-ng-init="getDeckSession()">






            <img ng-repeat="card in cardsDeck" class="cardImgTemplatePdf" src="{{card.imgid}}" alt="Img Card {{cardsDeck.name}}">





        </div>
        <style>
            .cardImgTemplatePdf {
                height: 88mm !important;
                width: 61mm !important;
            }
        </style>
    </body>

</html>
